<form action="/tasks/groups" method="POST">
    <label for="name">Type the group name</label>
    <input
        type="text"
        id="tgname"
        name="name"
    />
    <label for="maxTasks">Type the maximum amount of tasks (optional)</label>
    <input
        type="number"
        id="tgMaxTasks"
        name="maxTasks"
    />

    <input type="submit" value="save"/>

</form>