<h1>Pomodo</h1>
<form id="add-task-form" method="POST" action="/tasks">
    <label id="add-task-label" for="task-desc">Type a new task: </label>
    <input 
        type="text" 
        name="description" 
        id="task-desc"
    />
    
    <label id="add-task-label" for="task-pomos">Pomodoros: </label>
    <input 
        type="number" 
        name="pomodoros" 
        id="task-pomos"
    />

    <label for="taskgroup">Select group</label>
    
    {{#if taskgroups}}
        <select name="taskgroup" id="taskgroup">
            <option value="none">None</option>
            {{#each taskgroups}}
                {{> taskgroup}}
            {{/each}}
        </select>
        <a>Delete selected group</a>
    {{/if}}

    <label for="newTaskgroup">Add new group</label>
    <input 
        name="newTaskgroup"
        type="string"
    />
    
    <button type="submit">Add</button>
</form>
<hr/>
<form id="search-task-form" method="GET" action="/tasks">
    <label for="task-id">Search by id: </label>
    <input
        id="task-id"
        name="id"
        type="number"
    />
    <button type="submit">search</button>
</form>
<div id="current-tasks">
    {{#each tasks}}
        {{> task}}
    {{/each}}
</div>