<div class="row">
    <h1 class="logo">PomoDo</h1>
</div>
<div class="row">
    <div class="timer">
        <div class="timer-background">
            <div class="timer-value">
                25:00
            </div>
        </div>
        <div class="timer-actions">
            <a href="#"><i class="bi bi-play-fill"></i></a>
            <a href="#"><i class="bi bi-arrow-clockwise"></i></a>
            <a href="#"><i class="bi bi-stop-fill"></i></a>
        </div>
    </div>
</div>

<div class="row">
    {{> createTask}}
    
    <div class="col tasks-col">
        <div>
            <div class="tasks-list-title">To do</div>
            <ul class="todo-tasks task-list">
                {{#each tasks}}
                    {{#unless inProgress}}
                        {{#unless done}}
                            {{> taskcard}}
                        {{/unless}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="done-session">
            <div class="tasks-list-title">Done</div>
            <ul class="done-tasks task-list">
                {{#each tasks}}
                    {{#if done}}
                        {{#unless inProgress}}
                            {{> taskcard}}
                        {{/unless}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col tasks-col">
        <div class="tasks-list-title">In progress</div>
        <ul class="task-list">
            {{#each tasks}}
                {{#if inProgress}}
                    {{#unless done}}
                        {{> taskcard}}
                    {{/unless}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
    <div class="col creation-col" type="button" class="btn btn-primary" data-toggle="modal" data-target="#tasksModal">
        <button class="btn btn-primary">Create new Task</button>
    </div>
</div>

