* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

body {
    background-color: #FEFEFE;
}

textarea {
    resize: none;
}

textarea, input {
    font-size: 16px;
}

.btn {
    font-size: 16px;
    padding: 3px .5vw;
}

.row {
    margin: 0;
}

.logo {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.tasks-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-list {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.task-card {
    padding: 10px 1vw;
    background-color: white;
    min-height: 100px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 22px 1=px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.1);
}

.task-title-bar {
    display: flex;
}

.task-title {
    font-weight: 500;
    flex: 1;
}

.tsk-action-form {
    display: inline;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
}

.task-pomodoros, .task-description {
    font-size: 14px;
}

hr {
    margin: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
    .task-card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .task-card {
        width: 100%;
    }
}